<!DOCTYPE html>
<html>
  <head>
    <title>Draw</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="guide"></div>
    <div id="overlay">
      <div class="overlay-content" id="overlay-init">
        <label for="name">Name</label>
        <input
          type="text"
          minlength="3"
          maxlength="14"
          id="name"
          autocomplete="off"
          placeholder="At least 3 letters"
        />

        <label for="code" class="code-data">Code</label>
        <input type="password" id="code" class="code-data" />

        <button style="display: none;" id="submit">Go</button>
      </div>
      <div class="overlay-content" id="overlay-lost-connection">
        Lost connection to server!
      </div>
      <div class="overlay-content" id="overlay-duplicate-remote-address">
        The attempt by US fertility expert Panos Zavos to clone a human has
        failed.
      </div>
      <div class="overlay-content" id="overlay-kicked">
        You have been kicked.
      </div>
    </div>
    <div id="users">
      <div id="names"></div>
    </div>
    <div id="heading" class="hidden-by-overlay">
      Waiting for another player...
    </div>
    <div id="tools" class="hidden-by-overlay">
      <button id="clear">Clear</button>
      <button id="save">Save</button>
      <div id="colors">
        <div
          class="color selected"
          data-index="0"
          data-color="#000000"
          style="background: #000000;"
          title="Black"
        ></div>
        <div
          class="color"
          data-index="1"
          data-color="#aaaaaa"
          style="background: #aaaaaa;"
          title="Gray"
        ></div>
        <div
          class="color"
          data-index="2"
          data-color="#ff0000"
          style="background: #ff0000;"
          title="Red"
        ></div>
        <div
          class="color"
          data-index="3"
          data-color="#8b4513"
          style="background: #8b4513;"
          title="Brown"
        ></div>
        <br />
        <div
          class="color"
          data-index="4"
          data-color="#ffa500"
          style="background: #ffa500;"
          title="Orange"
        ></div>
        <div
          class="color"
          data-index="5"
          data-color="#eeee11"
          style="background: #eeee11;"
          title="Yellow"
        ></div>
        <div
          class="color"
          data-index="6"
          data-color="#ffc0cb"
          style="background: #ffc0cb;"
          title="Pink"
        ></div>
        <div
          class="color"
          data-index="7"
          data-color="#800080"
          style="background: #800080;"
          title="Purple"
        ></div>
        <br />
        <div
          class="color"
          data-index="8"
          data-color="#0000ff"
          style="background: #0000ff;"
          title="Blue"
        ></div>
        <div
          class="color"
          data-index="9"
          data-color="#7fffd4"
          style="background: #7fffd4;"
          title="Aquamarine"
        ></div>
        <div
          class="color"
          data-index="10"
          data-color="#00b300"
          style="background: #00b300;"
          title="Green"
        ></div>
        <div
          class="color"
          data-index="11"
          data-color="#f6f6f6"
          style="background: #f6f6f6;"
          title="Light Gray"
        ></div>
      </div>
      <p><input type="range" id="brush-size" step="5" /></p>
      <div id="timer"></div>
    </div>
    <div id="tips" class="hidden-by-overlay">
      <p><kbd>e</kbd> - toggle eraser</p>
      <p><kbd>c</kbd> - pick color</p>
      <p><kbd>tab</kbd> - focus chat</p>
      <p><kbd>mwheel</kbd> - brush size</p>
    </div>
    <div id="chat" class="hidden-by-overlay">
      <div id="messages"></div>
      <input
        type="text"
        id="message"
        placeholder="Try guessing the word!"
        autofocus
      />
    </div>
    <script src="js/p5.min.js"></script>
    <script src="js/cookie.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/sketch.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/jquery.emoji.js"></script>
    <script>
      const admins = ['greed']
      const checkCodeData = () => {
        if (admins.indexOf($('#name').val().trim().toLowerCase()) !== -1) {
          $('.code-data').slideDown(300)
        } else {
          $('.code-data').hide()
        }
      }

      checkCodeData()
      $(document).on('input', '#name', checkCodeData)
    </script>
  </body>
</html>
