@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

* {
  box-sizing: border-box;
  overscroll-behavior: contain;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  user-select: none;
  background: #fff;
  position: relative;
}

body > canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

kbd {
  color: #fff;
  background: #666;
  display: inline-block;
  padding: 0 3px;
  font-family: monospace;
  border-radius: 3px;
}

#guide {
  border: 3px dashed #888;
  border-radius: 50%;
  position: fixed;
  z-index: 5;
  pointer-events: none !important;
  filter: drop-shadow(0px 0px 1px #888);
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

#overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.7;
}

#overlay .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f6f6f6;
  padding: 10px;
  display: none;
}

#overlay input,
#overlay label {
  display: block;
  width: 100%;
}

#overlay label {
  color: #333;
  font-size: 12px;
}

#overlay input {
  background: #fff;
  outline: none;
  border: 1px solid #bbb;
  border-bottom-width: 3px;
  text-align: center;
  margin: 5px 0 10px;
  padding: 10px;
}

#overlay input[type='color'] {
  padding: initial;
}

#overlay button {
  background: cornflowerblue;
  color: #fff;
  border: none;
  outline: none;
  margin: 5px 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

#overlay .overlay-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: block;
  cursor: pointer;
  background: crimson;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

#users {
  z-index: 5;
  position: fixed;
  line-height: 16px;
  padding: 5px;
  white-space: nowrap;
}

#users img {
  float: left;
  width: 16px;
  height: 16px;
  display: inline-block;
}

#names {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #333;
}

#names .name {
  position: relative;
}

#names .name.guessed {
  color: green;
}

#names .name.joined {
  color: orange;
}

#names .name.left {
  color: red !important;
}

#names .name.admin::before {
  content: '';
  background-image: url(../img/crown.png);
  background-size: cover;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
}

#names .name.culprit {
  font-style: italic;
}

#names .kick-user {
  text-decoration: none;
  display: inline-block;
  margin-left: 3px;
  color: crimson;
}

#names .name-name {
  position: relative;
}

#names .user-info {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 3px;
  white-space: nowrap;
}

#names .user-info .status {
  display: inline-block;
  font-weight: bold;
  margin-left: 3px;
}

#heading {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #f6f6f6;
  padding: 10px;
  text-align: center;
}

#heading h2 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
}

#heading .letter {
  display: inline-block;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom-width: 3px;
  padding: 5px 10px;
  margin: 0 2px;
  text-transform: uppercase;
}

#heading .letter.blank {
  border: none;
  opacity: 0;
  font-size: 0;
  margin: 0;
}

#results {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 5px 0;
  font-size: 18px;
  border-radius: 10px;
  background: rgba(246, 246, 246, 0.8);
  white-space: nowrap;
  text-align: right;
}

#results .result {
  padding: 5px 30px;
}

#results .positive {
  color: green;
}

#results .negative {
  color: red;
}

#tools {
  pointer-events: all;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 5px;
  font-size: 10px;
  text-align: right;
}

#tools button {
  margin: 5px 0px;
  background: #fff;
  outline: none;
  border: 1px solid #bbb;
  border-bottom-width: 3px;
  color: #333;
  cursor: pointer;
}

#tools button:active {
  background: #eee;
  margin-bottom: 7px;
  border-bottom-width: 1px;
}

#tools button[disabled] {
  opacity: 0.5;
}

#colors .color {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #bbb;
  border-bottom-width: 3px;
}

#colors .color.selected {
  border-color: #666;
  border-bottom-width: 1px;
  border-top-width: 3px;
}

#timer {
  font-size: 72px;
  padding: 0 20px;
  position: fixed;
  top: 300px;
  right: 0;
  width: 200px;
  text-align: center;
  pointer-events: none;
  text-shadow: 0 0 1px #fff;
}

#timer small {
  font-size: 12px;
  display: inline-block;
  color: #aaa;
  text-shadow: none;
}

#tips {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

#tips p {
  margin: 5px;
  white-space: nowrap;
  color: #888;
}

#chat {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 10px;
  width: 320px;
  background: #f6f6f6;
  pointer-events: all;
}

#messages {
  max-height: 40vh;
  overflow: hidden;
}

#messages .message {
  margin: 5px 0;
}

#messages .message.guessed {
  color: green;
}

#messages .message.non-user {
  color: #888;
}

#message {
  margin-top: 10px;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom-width: 3px;
  padding: 10px;
  outline: none;
  width: 100%;
}
